{
  "extends": [
    "airbnb",
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
  },
  "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true
  },
  "rules": {
     "comma-dangle": [1, "always-multiline"],
     "max-len": [1, 180, 4],
     "arrow-body-style": [0],
     "brace-style": ["error", "stroustrup"],
     "no-plusplus": ["error", {"allowForLoopAfterthoughts": true}],
     "react/jsx-no-bind": [0],
     "react/jsx-boolean-value": [0, "never"],
     "import/no-unresolved": [0] // Until import plugin supports webpack 2 resolveModules
  }
}